<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>Dashboard</h1>
    </div>

    <div class="col-md-6 justify-content-center" style="padding:0; margin-left:25%;">
        <div class="card my-4">
            <h5 class="card-header">Search through all posts</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a Post" id="input" onkeyup="searchPostsEditor()">
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered" id="myTable">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th onclick="sortTable('myTable', 0, false)">Title</th>
                <th onclick="sortTable('myTable', 1, false)">Author</th>
                <th onclick="sortTable('myTable', 2, false)">Description</th>
                <th onclick="sortTable('myTable', 3, false)">Time submitted</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody class="text-center">
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td>{{description}}</td>
                <td>{{creationDate}}</td>
                <td class="d-flex justify-content-center">
                    <a href="/info#{{_id}}" target="_blank" class="btn btn-sm btn-success mr-2">View Post</a>
                    <a href="/editor/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit Post</a>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
                </td>
            </tr>

            <!-- Modal for delete post -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <form action="/editor/delete/{{id}}?newMethod=DELETE" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </tbody>
    </table>

</div>
