<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Health realated posts: </h1>

        <script>
            let blogposts = document.getElementsByClassName('card mb-4');

            function search_posts() {
              let input = document.getElementById('searchbar').value
              input = input.toLowerCase();

              for (i = 0; i < blogposts.length; i++) {
                  if (!blogposts[i].title.toLowerCase().includes(input)) {
                      blogposts[i].style.display = "none";
                  }
                  else {
                      blogposts[i].style.display = "list-item";
                  }
              }
            }
        </script>

        <ol style="list-style-type:none" id='list'>

          {{#each posts}}
          <li class="card mb-4" id="{{id}}">
                  <img class="card-img-top" src="{{file}}" alt="Image is missing">
              <div class="card-body">
                  <h2 class="card-title">{{title}}</h2>
                  <p class="card-text">{{description}}</p>
                  <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>
              </div>
              <div class="card-footer text-muted">
                  Posted on {{creationDate}} by {{author}}
              </div>
              <script>
                  document.getElementById("{{id}}").title = "{{title}}";
              </script>
          </li>
          {{/each}}

      </ol>

        <!-- Pagination -->
        <!-- <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
                <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
                <a class="page-link" href="#">Newer &rarr;</a>
            </li>
        </ul> -->

    </div>




    <!-- Search -->
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a Post" id="searchbar" onkeyup="search_posts()">
                </div>
            </div>
        </div>
    </div>
</div>
