<div class="container">
    <div class="alert alert-secondary text-center">
        <h1>All Posts</h1>
    </div>

    <div class="col-md-6 justify-content-center" style="padding:0; margin-left:25%;">
        <div class="card my-4">
            <h5 class="card-header">Search through all posts</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a Post" id="myInput" onkeyup="search_posts()">
                </div>
            </div>
        </div>
    </div>

    <table class="table table-bordered" id="myTable">
        <thead class="bg-dark text-center">
            <tr class="text-white">
                <th onclick="sortTable(0)">Title</th>
                <th onclick="sortTable(1)">Author</th>
                <th onclick="sortTable(2)">Description</th>
                <th onclick="sortTable(3)">Time submitted</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody class="text-center">
            {{#each posts}}
            <tr>
                <td>{{title}}</td>
                <td>{{author}}</td>
                <td>{{description}}</td>
                <td>{{creationDate}}</td>
                <td class="d-flex justify-content-center">
                    <a href="/editor/posts/edit/{{_id}}" class="btn btn-sm btn-warning mr-2">Edit Post</a>
                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#deleteModal">Delete Post</button>
                </td>
            </tr>

            <!-- Modal for delete post -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                            <form action="/editor/posts/delete/{{id}}?newMethod=DELETE" method="post">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {{/each}}
        </tbody>
    </table>


    <script>

    /*Makes dates look better */
    function convert(date) {
        mnth = ("0" + (date.getMonth() + 1)).slice(-2),
        day = ("0" + date.getDate()).slice(-2);
        // hours  = ("0" + date.getHours()).slice(-2);
        // minutes = ("0" + date.getMinutes()).slice(-2);
        return [date.getFullYear(), mnth, day].join("-");
    }

    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (let i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[3];
        if(td){
            date = new Date(td.textContent);
            date = convert(date);
            tr[i].getElementsByTagName("td")[3].textContent = date;
        }
    }

    function search_posts() {
        let input, filter, table, tr, td, i, j, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td");
            let matches = false;

            for (j = 0; j < 4; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        matches = true;
                    }
                }
            }

            if(matches === true)
            {
                tr[i].style.display = "";
            }
             else {
                    tr[i].style.display = "none";
                }
            }
        }

    function sortTable(n) {
        let rows, i, x, y, shouldSwap, table, direction, sorting, switchcount = 0;
        table = document.getElementById("myTable");
        sorting = true;
        direction = "asc";

        while (sorting) {
            sorting = false;
            rows = table.rows;
            for(i = 1; i < (rows.length - 1); i++) {
                shouldSwap = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                if (direction == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwap = true;
                        break;
                    }
                } else if (direction == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwap = true;
                        break;
                    }
                }
            }
            if(shouldSwap) {
                rows[i].parentNode.insertBefore(rows[i+1], rows[i]);
                sorting = true;
                switchcount ++;
            } else {
                if (switchcount == 0 && direction == "asc") {
                    direction = "desc";
                    sorting = true;
                }
            }
        }
    }
    </script>



</div>
