{{!-- This is the body of the public info page --}}

<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Health related posts </h1>

        <ol style="list-style-type:none" id='list'>

            {{#each posts}}
            <li class="card mb-4" id="{{id}}">
                <img class="card-img-top" src="{{imageFile}}" alt="Image is missing">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">{{description}}</p>
                    <a href="/post/{{id}}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{creationDate}} by {{author}}
                </div>
                <script>
                    document.getElementById("{{id}}").title = "{{title}}";
                </script>
            </li>
            {{/each}}

        </ol>

    </div>

    <!-- Search -->
    <div class="col-md-4">
        <div class="card my-4">
            <h5 class="card-header">Search</h5>
            <div class="card-body">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for a Post" id="searchbar" onkeyup="searchPostsPublic()">
                </div>
            </div>
        </div>
    </div>

    <script src="./references/scripts/searchPosts.js"></script>
</div>
